<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} - %msg%n"/>
        </Console>

        <!--<File name="File" fileName="logs/testFile.log">-->
              <!--<PatternLayout pattern="%m%n" />-->
        <!--</File>-->

        <RollingFile name="RollingFile" fileName="logs/server.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH-mm}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="60" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="trace">
            <appenderRef ref="Console"/>
        </root>

        <!--<Logger name="octoteam.tahiti.server.Logging" level="INFO" >-->
            <!--<AppenderRef ref="File" />-->
        <!--</Logger>-->

        <Logger name="octoteam.tahiti.server.Logging" level="INFO"  >
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </loggers>



</configuration>