<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

    <appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/tahiti_clien.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH-mm}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %m%n [%t]</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

    </appenders>

    <loggers>

        <root level="trace">
            <appenderRef ref="Console"/>
        </root>

        <Logger name="octoteam.tahiti.client.Logging" level="INFO">
            <AppenderRef ref="RollingFile"/>
        </Logger>

    </loggers>

</configuration>